<h1>Welcome</h1>
<div class="outer">
    <a class="btn" id="login" target="login">Login</a>
    <a class="btn" id="register" target="_blank">Register</a>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/index.js"></script>