<form class="outer2">
    <input placeholder="Email" name="email" id="email" type="text" required="">
    <input placeholder="Password" name="password" id="password" type="password" required="">
    <input type="submit" id="login" value="Login" class="btn"/>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/login.js"></script>