<h1> Your Profile </h1>
<div class="outer">
    <div class="outer2" style="width: 100%">
        <button class="btn" type="button" target="profile">Personal Info</button><br>
        <button class="btn" type="button" target="bookings">Your Bookings</button><br>
        <button class="btn" type="button" target="categories">Categories</button><br>
        <button class="btn" type="button" target="services">Services</button><br>
        <button class="btn" type="button" target="allBookings">All Bookings</button><br>
        <button class="btn" type="button" target="vendors">Vendors</button><br>
    </div>
    <div class="result">
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/category.js"></script>
<script src="/js/bookings.js"></script>
<script src="/js/service.js"></script>
<script src="/js/userProfile.js"></script>
<script src="/js/vendors.js"></script>