<form class="outer2">
    <input placeholder="Email"  id="email" type="text" required="">
    <input placeholder="Password" id="password" type="password" required="">
    <input placeholder="Name" id="name" type="text" required="">
    <input placeholder="Address" id="address" type="text" required="">
    <p>Allowed roles</p><span>['vendor', 'admin', 'customer']</span>
    <input placeholder="Role" id="role" type="text" required="">
    <input type="submit" id="register" value="Register" class="btn"/>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/register.js"></script>